@import './base.less';

.container {
	position: fixed;
	left: 50%;
	top: 50%;
	height: 300px;
	width: 400px;
	margin-left: -200px;
	margin-top: -150px;
	background-color: black;
	ul {
		display: flex;
		li {
			height: 300px;
		}
		.tab1 {
			width: 120px;
		}
		.tab2 {
			width: 80px;
		}
		.tab3 {
			width: 100px;
		}
	}
}